<div class="
    flex
    items-center
    justify-center
  ">
  <div class="px-40 py-20 bg-white rounded-md shadow-xl">
    <div class="flex flex-col items-center">
      <p class="font-bold text-gray-600 text-7xl">404</p>

      <p class="mb-2 text-xl font-bold text-center text-gray-800 md:text-2xl">
        <span class="text-red-500">Oops!</span> Page Not Found.
      </p>

      <p class="mb-8 text-center text-gray-500 md:text-lg">
        Sorry, we couldn't find the page you're looking for.
      </p>

      <a class="px-6 py-2 text-sm font-semibold text-gray-800 bg-gray-100" routerLink="/customers">Get Back Home</a>
    </div>
  </div>
</div>
